<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/style-flex.css">
  <link rel="stylesheet" href="../css/style-index.css">
  <script src="http://cdn.bootcss.com/vue/2.1.6/vue.min.js"></script>
</head>
<body>
<div class="box" id="process" flex="main:center cross:center">
  <div class="box__process" v-show="!isOver">
    <div class="box__process_items">
      <div class="box__process_item" flex="" v-for="(item,index) of winList.data">
        <div class="item-media">
          <img :src="item.headimgurl" width="100%" height="100%" alt="">
        </div>
        <div class="item-process" @click="add(index)">
          <span v-text="item.number"></span>
          <div class="bg" :style="{'width': item.number+'px'}"></div>
        </div>
      </div>
      <div class="box__process_clock">
        {{clock_text}}
      </div>
    </div>
  </div>
  <div class="box__prize" v-show="isOver" style="width: 100%">
    <header flex="main:center">
      <div class="title_t" v-text="winList.activityname">

      </div>
    </header>
    <div style="" flex="main:center">
      <ul flex="main:center cross:center" style="overflow: visible">
        <li flex=" cross:center" v-for="item of overList">
          <img :src="item.headimgurl" width="33" height="33" alt="">
          <span v-text="item.nickname"></span></li>

      </ul>
    </div>
  </div>
</div>
<script>
  var vm = new Vue({
    data: {
      isOver: false,
      var_clock: undefined,
      clock_text: '',
      overList: [],
      winList: {
        "code": 0,
        "key": false,
        "activityname": "三等奖",
        "awardsnumber": "20",
        "activitduration": "30",
        "data": [
          {
            "number": 21,
            "nickname": "忆丿、青春",
            "headimgurl": "http://wx.qlogo.cn/mmopen/Xc8RQQic8LxQLfeyUNYfPZyhIwFWN9aANnJicP05kHiaW8ouW49qZU9MpxahYltdbo1Zic3suviaWRtRmaicB36xDicoPIibdFU6DPNe/46"
          },
          {
            "number": 1,
            "nickname": "vkd",
            "headimgurl": "http://wx.qlogo.cn/mmopen/Xc8RQQic8LxQLfeyUNYfPZ7Ug6DLsA5nVCQrQiaTZiamQLIyXcGq82KCqibL11p1Cgh1aLoGHtzM2pKjAHjDZGL8pAn02vch6Bnx/46"
          }
        ]
      },
    },
    mounted: function () {
      console.log(this);
      this.clock()
//      this.add(1);
    },
    destoryed: function () {
      clearInterval(this.var_clock)
    }
    ,
    methods: {
      add: function (index) {
        this.winList.data[index].number += 1;
      }
      ,
      formatClock: function (m, s) {
        var result = ''
        if (m >= 10) {
          result = m;
        }
        else {
          result = '0' + m;
        }
        if (s >= 10) {
          result += ':' + s;
        }
        else {
          result += ':0' + s
        }
        return result
      }
      ,
      clock: function () {
        var serf = this;
        this.var_clock = setInterval(function () {
          if (serf.winList.activitduration > 0) {
            serf.winList.activitduration--;
            $.ajax({
              success: function (data) {
                //是否开始
                //不能开始
                if (data==0) {
                  if(serf.data.winList.code==0){
                    serf.data.winList.data=data.data;
                  }
                }else{
                  alert('error')
                }
              }
            })
            if (serf.winList.activitduration < 60) {
              serf.clock_text = serf.formatClock(0, serf.winList.activitduration);
            }
            else {
              if (serf.winList.activitduration / 60 > 10) {
                serf.clock_text = serf.formatClock(Math.floor(serf.winList.activitduration / 60), serf.winList.activitduration - serf.winList.activitduration * 60)
              }
              else {
                serf.clock_text = serf.formatClock(Math.floor(serf.winList.activitduration / 60), (serf.winList.activitduration - Math.floor(serf.winList.activitduration / 60) * 60).toString())
              }
            }
          }
          else {
            console.log('over');
            serf.isOver = true;
            for (var i = 0; i < serf.winList.awardsnumber; i++) {
              if (serf.winList.data[i]) {
                serf.overList.push(serf.winList.data[i])
              }
            }
            clearInterval(serf.var_clock)
          }
        }, 1000)
      }
    }
  }).$mount('#process')
</script>
</body>
</html>